.header-container {
    display: flex;
    /* Use flexbox for layout */
    padding: 10px;
    /* Add some padding for spacing */
}

.header-content {
    height: max-content;
    width: 100%;
}

.header-logo {
    margin-right: auto;
    height: max-content;
    /* Push logo to the left */
}

.user-email {
    margin-right: 1rem;
    /* Add some spacing between email and logout button */
}

mat-grid-tile{
   justify-content: end!important;
    /* Align items vertically */
}